body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.bodem {
    color: red;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.text {
    color: blue;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 15px;
}